h1.home-size {
    font-size: 2.3rem;
    font-weight: 700;
}
p.home-size {
    font-size: 1.8rem;
}
.home.container {
    margin: 0 auto;
    margin-top: 200px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 1);
}

@media (min-width: 992px) {
    h1.home-size {
        font-size: 2.3rem;
        font-weight: 700;
    }
    p.home-size {
        font-size: 1.8rem;
    }
}
